.masks-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.all-mask{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 10px;
}
.collection-cart{
    margin-left: 20px;
    background-color: whitesmoke;
    height: 50%;
    font-family: 'Tangerine', cursive;;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 10px 5px 5px  rgb(139, 135, 135);
    
    font-size: medium;
    position: sticky;
    top:0;
    
}
.selection-container img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.do-flex {
    display: flex;
    background-color:lightgrey;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    border-radius: 10px;
}

@media screen and (max-width:688px) {
    .all-mask{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:688px) {
    .collection-cart{
        grid-template-columns: repeat(1, 1fr);
    }
}
